.page{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
label{
    font-size: 25px;
    font-weight: bold;
}
input{
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}

